* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Marvel', sans-serif;
    font-weight: bold;
}

html { 
    background: url(../images/background_image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img {
    width: 180px;
    height: 180px;
}

h4{
    color: #ED1D24;
}

.div_results{
    margin-top: 150px;
}

.marvel_color{
    background-color: #ED1D24;
}

.score {
    border: 8px solid #ED1D24;
    border-radius: 5px;
    padding: 35px;
}

#mcuQuotes{
    margin-top: 100px;
    text-align: center;
    padding-right: 150px;
    padding-left: 150px;
}


@media only screen and (max-width: 600px) {
    #mcuQuotes {
      padding-left: 20px;
      padding-right: 20px;
    }
  }