* {
    margin:0;
}


html { 
    background: url(../images/background_image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    width: 100%;
}

.hero {
    background-image: url(../images/background_image.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    position: relative;
    top: 150px;
}

.title {
    color:white;
    font-family: 'Marvel', sans-serif;
}

.hero-body {
    position: absolute;
    width: 100%;
    height: auto;
}

.button {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:3px;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:'Marvel', sans-serif;
	font-size:16px;
	padding:12px 33px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.button:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.button:active {
	position:relative;
	top:1px;
}

h1 {
    color:white;
}

h2 {
    color:white;
}

h3 {
    margin-bottom: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    /* background-image:url(../images/background_image.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}

main{
    padding: 0 25px 0 25px;
}

h1{
    font-size: 35px;
    text-align: center;
}

ul{
    margin-bottom: 50px;
}

.div_heroes{
    width: 225px;
    height: 300px;
    display: inline-block;
    margin: 45px;
    border: 2px solid black;
    background-color: rgb(138, 137, 137);
}

.hero_name{
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 15px;
}

.hide{
    display: none;
}

.hero_selected{
    background-color: black;
}