* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html { 
    background: url(../images/background_image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    width: 100%;
}

main{
    padding: 0 25px 0 25px;
}

ul{
    margin-bottom: 50px;
    color: white;
}

span {
    color: white;
}

h1 {
    color:white;
    font-size: 35px;
    text-align: center;
}

h2 {
    background-color: #ED1D24;
    color: white;
}

h3 {
    margin-bottom: auto;
}

img {
    height: 272px;
    margin-top: 1px;
}

p{
    position: absolute;
    left: 25px;
    z-index: 99;
}

.div_heroes {
    background-image: url(../images/Super_Hero_Pictures/Charcter\ Background.png);
    height: 273px;
    width: 222px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    position: relative;
    top: 150px;
}

.title {
    color:white;
    font-size: 10rem;
    font-family: 'Marvel', sans-serif;
    text-shadow: 0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
}

.title_2 {
    color:white;
    font-size: 5rem;
    font-family: 'Marvel', sans-serif;
    text-shadow: 0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
}

.hero-body {
    position: absolute;
    width: 100%;
    height: auto;
}

.button {
    font-family: 'Marvel', sans-serif;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    background-color: #ff0000;
    color:white;
    
}

.button:hover {
    background-color: #8b0000
}

.button:active {
    background-color: #8b0000;
    box-shadow: 0 5px #666;
}

.heroes{
    width: 225px;
    height: 300px;
    display: inline-block;
    margin: 45px;
    border: 2px solid black;
}

.hero_name{
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 15px;
    background-color: #ED1D24;
    color: white;
}

.hide{
    display: none;
}


.hero_selected{
    background-color: black;
}

.description{
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 99;
    font-size: 13px;
    color: black    ;
}

.flipper{
    transition: transform 1.3s;
	transform-style: preserve-3d;
    position: relative;
}

.front, .back{
	position: absolute;
    cursor: pointer;
}

.back{
	transform: rotateY(180deg);
}

.heroes:hover .flipper{
	transform: rotateY(180deg);
}

.btn {
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  } 
  
.btn:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    text-shadow: 1px 1px 2px #427388; 
  }